@model WebServices.Models.Reservation

<div class="card-header bg-primary text-white">
    Create Reservation
</div>
<div class="card-body">
    @using (Html.BeginForm("Add", "Home"))
    {
        <div class="form-group">
            <label>Client Name</label>
            @Html.TextAreaFor(m => m.ClientName, new {@class = "form-control"})
        </div>
        <div class="form-group">
            <label>Location</label>
            @Html.TextBoxFor(m => m.Location, new {@class = "form-control"})
        </div>
        <button type="submit" class="btn btn-primary">Save <i class="far fa-save"></i></button>
    }
</div>