@model SportsStore.Domain.Entities.Cart

<div class="navbar-nav ml-auto">
    @Html.ActionLink("Checkout", "Index", "Cart",
        new { returnUrl = Request.Url.PathAndQuery },
        new { @class = "btn btn-secondary"})
</div>

<div class="navbar-text float-right text-white mx-2">
    <b>Your cart:</b>
    @Model.Lines.Sum(x => x.Quantity) item(s),
    @Model.ComputeTotalValue().ToString("c")
</div>