@model HelperMethods.Models.Person

@{
    ViewBag.Title = "Create Person";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<h2>CreatePerson</h2>

@*@using (Html.BeginForm("CreatePerson", "Home",
        null, FormMethod.Post,
        new {@class = "personClass", data_formType = "person"}))
    {

    }*@

@using (Html.BeginRouteForm("FormRoute", new { }, FormMethod.Post,
    new { @class = "personClass", data_formType = "person" }))
{
    <div class="DataElem">
        <label>PersonId</label>
        @Html.TextBoxFor(m => m.PersonId)
    </div>
    <div class="DataElem">
        <label>First Name</label>
        @Html.TextBoxFor(m => m.FirstName)
    </div>
    <div class="DataElem">
        <label>Last Name</label>
        @Html.TextBoxFor(m => m.LastName)
    </div>
    <div class="DataElem">
        <label>Role</label>
        @Html.DropDownListFor(m => m.Role, new SelectList(Enum.GetNames(typeof(HelperMethods.Models.Role))))
    </div>
    <input type="submit" value="Submit"/>
}